[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/coffeescript"]
	path = vim/bundle/coffeescript
	url = http://github.com/kchmck/vim-coffee-script.git
[submodule "vim/autoload/pathogen"]
	path = vim/autoload/pathogen
	url = https://github.com/tpope/vim-pathogen.git
